/* Body styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    text-align: center;
}

/* Score text */
h1, h2 {
    margin: 5px;
}

/* Container for game buttons */
.box {
    background-color: #f0f5f2;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Row: holds 2 buttons per row */
.row {
    display: flex;
    justify-content: center;
}

/* Common button styles */
.red, .yellow, .blue, .green {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Individual colors */
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }
.green { background-color: green; }


.btn{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    background-color: rgb(77, 77, 214);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: 0px;
}

.btn:hover {
    background-color: rgb(115, 115, 231);
    cursor: pointer;
}